@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;900&display=swap');


:root{
  --color-blue: #033586;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  list-style: none;
  padding: 0;
}
.quick{
  background-color: rgb(240, 240, 240);
  padding: 8px 8px 4px 8px;
  position: fixed;
  right: 16px;
  bottom: 80px;
  cursor: pointer;
  z-index: 10;
  border-radius: 25px;
}
.quick2{
  background-color:rgb(240, 240, 240);
  padding: 8px;
  position: fixed;
  right: 16px;
  bottom: 20px;
  cursor: pointer;
  z-index: 10;
  border-radius: 25px;
  transition: 0.5s;
}
.quick2:hover{
  background-color: rgb(208, 229, 254);
}
.sign{
  width: 36px;
  height: 34px;
}
.sign2{
  width: 36px;
  height: 30px;
}
.componentHead{
  padding-left: 10px;
  border-left: 8px solid gray;
}
.page404{
  margin: 60px auto;
  text-align: center;
}
/**/
.home{
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: 900;
}
.navContainer{
  background-color: var(--color-blue);  
}
.innerNav{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navMenu{
  text-decoration: none;
  color: black;
}
.innerNav ul{
  display: none;
}
.menuList{
  text-decoration: none;
  color: black;
}
.cartIcon{
  margin-left: 10px;
}
.logIn, .cartIcon{
  width: 26px;
  cursor: pointer;
}
.main-bg{
  height: 15vh;
  background-image: url(coffee-23901362.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 15%;
}
.innerDesktop{
  display: none;
}
.sliderOuter h2, .announcement h2, .pangMenu>h2, .recentView h2{
  text-align: center;
  font-weight: 900;
  font-size: 1.6rem;
  margin-bottom: 30px;
}
.announContainer{
  padding: 40px 20px 60px;
  background-color: rgb(255, 255, 244);
}
.announcement{
  max-width: 1200px;
  margin: 0 auto;
}
.announcement ul{
  display: flex;
  flex-wrap: wrap;
}
.announcement ul li{
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}
.announcement p{
  margin: auto;
  width: 65%;
  float: left;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.announcement ul li span{
  float: right;
}
footer{
  background-color: #afafaf;
  color: white;
}
.innerFooter{
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.innerFooter div{ 
  flex: 1 1 50%;
}
.innerFooter div ul li{
  margin-bottom: 10px;
  font-size: 15px;
}
.innerFooter div ul li span{
  font-size: 12px;
}
.icon{
  width: 17px;
  height: 17px;
  padding: 12px;
  border-radius: 17px;
  background-color: white;
}
.underFooter{
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.underFooter p{
  font-size: 13px;
  padding: 20px 0;
  margin: 0;
}
.follow ul li{
  display: inline;
  margin-right: 30px;
}
/* 메인쇼케이스 */
.MainShowCase{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.recentView{
  margin: 100px 0;
}
.recentView>div{
  display: block;
  margin: 30px 0;
}
.recentView img{
  width: 25%;
}
.recentView p{
  text-align: center;
  font-size: 1.125rem;
  margin: 60px;
}
.sliderOuter{
  overflow: hidden;
  margin-bottom: 60px;
}
.sliderContainer{
  width: 400%;
  margin: 0 auto;
  transition: 1s;
  overflow: hidden;
}
.slide{
  width: 25%;
  float: left;
}
.slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.optimTablet{
  display: none;
}
.optimDesk{
  display: none;
}
.buttonContainer{
  width: 100%;
  text-align: center;
}
.numBtn{
  cursor: pointer;
  padding: 1vw;
  margin: 2vw;
  border: 1px solid;
  border-radius: 5vw;
  border: 1px solid #ccc;
  background-color: white; 
}
.activeBtn{
  cursor: pointer;
  padding: 1vw;
  margin: 2vw;
  border: 1px solid;
  border-radius: 5vw;
  border: 1px solid rgb(116, 116, 116);
  background-color: rgb(116, 116, 116); 
}
.pangMenu{
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.pangMenu>p{
  text-align: center;
  margin: 30px 0;
}
.pangMenu ul{
  display: flex;
  justify-content: space-around;
}
.pangMenu ul li{
  font-weight: 300;
}
.pangMenu ul li:hover{
  cursor: pointer;
  color: var(--color-blue);
}
.cardContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
.eachCard{
  margin: 10px;
  cursor: pointer;
}
.photo{
  box-sizing: border-box;
  overflow: hidden;
}
.eachCard img{
  width: 100%;
}
.eachCard img:hover{
  transition: 0.6s;
  opacity: 0.75;
}
.minidesc{
  line-height: 0.7;
}
.moreBtnContainer{
  text-align: center;
  max-width: 1200px;
  margin: 20px 0;
}
.moreBtn{
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 23px;
}
/*router 디테일*/
@keyframes blink{
  from{
    opacity: 1;
    background-color: rgb(245, 200, 242);
  }
  to{
    opacity: 0.4;
  }
}
.Detail{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.upDetail{
  width: 100%;
}
.imgContainer{
  width: 100%;
}
.imgContainer img{
  width: 100%;
}
.description{
  width: 100%;
}
.description h1{
  font-size: 32px;
  font-weight: 750;
  margin-top: 30px;
  margin-bottom: 10px;
}
.description h4{
  margin: 5px 0;
}
.allergy{
  color: rgb(207, 93, 93);
}
.desLine{
  border: 0.5px solid rgb(220, 220, 220);
}
.desLine1{
  margin-top: 60px;
}
.desLine2{
  margin-bottom: 60px;
}
.plusCount, .minusCount{
  cursor: pointer;
  background-color: white;
  padding: 4px 10px;
  border: 1px solid gray;
}
.plusCount{
  margin-right: 12px;
}
.minusCount{
  margin-left: 12px;
}
.count{
  display: inline-block;
  text-align: center;
  width: 40px; 
}
.totalPrice{
  margin-left: 30px;
  color: #AE0000;
  font-weight: 900;
}
.orderBtn{
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  padding: 20px 0;
  border: 0;
  cursor: pointer;
  background-color: var(--color-blue);
  color: white;
}
.notice{
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  color: rgb(153, 20, 230);
  margin: 0px;
  padding: 20px 0;
  animation: blink 1s ease-in-out infinite alternate;
}
.notice span{
  font-weight: bolder;
}
.noticeOff{
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  visibility: hidden;
  font-weight: bold;
  margin: 0px;
  padding: 20px 0;
}
.noticeOff span{
  font-weight: bolder;
}
.underDetail{
  margin-top: 30px;
}
.review{
  margin-bottom: 50px;
}
.review h2{
  color: var(--color-blue);
  font-weight: 900;
}
.review p{
  line-height: 2;
}
.nutrition{
  box-sizing: border-box;
  padding: 30px;
  background-color: rgb(249, 249, 249);
}
.nutrition table{
  width: 100%;
}
.nutrition table tr{
  display: flex;
  justify-content: space-between;
}
.nutrition thead tr{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.leftNutriTitle{
  width: 40%;
}
.leftNutri{
  width: 40%;
}
.rightNutriTitle, .rightNutri{
  width: 40%;
}
.heightLine{
  margin: 60px auto;
  width: 1px;
  height: 100px;
  border-right: 1px solid  rgb(216, 216, 216);
}
.recommend{
  margin-top: 30px;
}
.recommend h2{
  text-align: center;
  font-weight: 900;
}
.Chief h4{
  font-weight: 900;
}
.introduce{
  text-align: justify;
  line-height: 2;
  font-size: 15px;
  margin-top: 30px;
}
/*Router 카트*/
.Cart{
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 20px;
}
.Cart h4{
  margin-top: 40px;
}
.Cart table{
  width: 100%;
  font-size: 11px;
}
.Cart table.selected{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.Cart th{
  background-color: #f8f8f8;
  padding: 20px 10px;
}
.Cart td{
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 10px 0;
}
.Cart input{
  border: 1px solid rgb(185, 185, 185);
  padding-left: 5px;
  margin: 3px 0;
}
i{
  margin-top: 5px;
  float: right;
  font-size: 10px;
  color: #808080;
}
.reciever th, .payment th{
  width: 76px;
}
.reciever td, .payment td{
  padding-left: 15px;
}
.recieverName, .phoneNum{
  width: 90px;
}
.postNum{
  width: 75px;
}
.post{
  width: 220px;
}
.searchPost{
  height: 19.5;
  font-weight: 900;
  color: gray;
  margin-left: 15px;
  cursor: pointer;
}
.request{
  width: 220px;
}
.underRequest{
  font-size: 10px;
  font-weight: normal;
  margin-bottom: 0;
  color: gray;
}
.sumAll{
  font-size: 18px;
  font-weight: 800;
}
.credit{
  position: relative;
  top: 1px;
  margin-right: 10px;
}
.orderArea{
  text-align: center;
}
.orderBtn2{
  margin-top: 60px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  padding: 20px 0;
  border: 0;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
}
.countUp, .countDown{
  cursor: pointer;
  margin: 0 2px;
  padding: 4px 6px;
  background-color: white;
  border: 1px solid grey;
}
.deleteBtn{
  cursor: pointer;
  background-color: white;
  padding: 4px 6px;
  border: 1px solid gray;
}
.cartImage{
  box-sizing: border-box;
}
.cartImage img{
  width: 15vw;
  height: 15vw;
}
::placeholder{
  font-size: 11px;
}
.space{
  margin-right: 20px;
}
.checkPay{
  margin-top: 40px;
  text-align: center;
  font-size: 10px;
}
.checkPay>input{
  width: 19px;
  height: 19px;
  margin-right: 5px;
}
/*텍스트 애니메이션*/
.coverContainer{
  margin: 100px 0;
  overflow: hidden;
}
.cover{
  width: 100vw;
  overflow: hidden;
  margin: 2rem 0;
  display: flex;
}
.cover2{
  justify-content: flex-end;
}
.parallel{
  color: #ccc;
  display: flex;
}

@media(min-width: 768px){
  .componentHead{
    font-size: 36px;
    padding-left: 20px;
    margin-bottom: 60px;
  }
  .quick{
    right: 20px;
    bottom: 100px;
  }
  .quick2{
    right: 20px;
    bottom: 30px;
  }
  .innerNav ul{
    display: unset;
  }
  .innerNav ul li{
    font-size: 15px;
    display: inline;
    padding-left:30px;
    color: white;
    font-weight: 500;
  }
  .iconArea{
    display: none;
  }
  .main-bg{
    background-attachment: fixed;
    margin-top: 150px;
  }
  .numBtn{
    padding: 0.5vw;
    margin: 1vw;
  }.activeBtn{
    padding: 0.5vw;
    margin: 1vw;
  }
  .cardContainer{
    grid-template-columns: repeat(3,1fr);
  }
  .innerFooter div{ 
    flex: 1 1 33%;
  }
  .innerDesktop{
    display: unset;
  }
  .innerPhone{
    display: none;
  }
  .announcement ul{
    justify-content: space-between;
  }
  .announcement ul li{
    width: 48%;
  }
  .announcement p{
    width: 70%;
  }
  /*슬라이더*/
  .optimPhone{
    display: none;
  }
  .optimTablet{
    display: unset;
  }
  /*router 메인쇼케이스*/
  .pangMenu ul{
    padding: 0 120px;
  }
  .pangMenu ul li{
    cursor: pointer;
  }
  /*router 디테일*/
  .notice{
    font-size: 16px;
  }
  .Detail{
    margin: 60px auto;
  }
  .upDetail{
    display: flex;
    justify-content: space-between;
  }
  .imgContainer{
    width: 46vw;
  }
  .description{
    width: 45vw;
  }
  .description h1{
    margin-top: 0px;
  }
  .underDetail{
    margin: 30px 0 60px;
    display: flex;
    justify-content: space-between;
  }
  .Chief{
    padding:20px;
  }
  .review{
    width: 46vw;
  }
  .nutrition{
    width: 45vw;
  }
  .heightLine{
    margin: 120px auto;
    height: 200px;
  }
  .recommend h2{
    font-size: 38px;
  }
  /*Router 카트*/
  .justLeft{
    width: 12vw;
  }
  .cartImage img{
    width: 10vw;
    height: 10vw;
  }
  .Cart{
    margin: 60px auto;
  }
  .Cart h4{
    font-size: 1.2rem;
  }
  .Cart th, .Cart td{
    font-size: 1.1rem;
  }
  .Cart input{
    height: 24px;
  }
  .reciever th, .payment th{
    width: 180px;
  }
  .postNum{
    width: 90px;
  }
  .post{
    width: 400px;
  }
  .request{
    width: 400px;
  }
  .credit{
    top: 4px;
  }
  .orderBtn2{
    width: 30%;
    margin: 60px auto 0;
  }
  .countUp, .countDown{
    cursor: pointer;
    margin: 0 5px;
    padding: 4px 8px;
  }
  .checkPay{
    font-size: 1rem;
  }
}
@media(min-width: 1024px){
  .sliderOuter h2, .announcement h2, .pangMenu>h2, .recentView h2{
    font-size: 2rem;
  }
  .optimTablet{
    display: none;
  }
  .optimDesk{
    display: unset;
  }
  .pangMenu ul{
    justify-content: center;
    padding: 0;
  }
  .pangMenu ul li{
    padding: 5px 20px 7px;
    border: 1px solid #ccc;
    border-radius: 23px;
    margin: 0 10px;
  }
  .pangMenu ul li:hover{
    border: 1px solid var(--color-blue);
  }
  .cardContainer{
    grid-template-columns: repeat(4,1fr);
  }
  .upDetail{
    display: normal;
    margin-bottom: 50px;
  }
  .imgContainer, .review{
    margin-right: 30px;
  }
  .description h1{
    font-size: 48px;
  }
  .Chief{
    padding: 20px 40px;
  }
  .Cart th, .Cart td{
    font-size: 1rem;
  }
  .Cart h4{
    margin-top: 60px;
    font-size: 1.5rem;
  }
  .numBtn{
    padding: 0.25vw;
    margin: 0.25vw;
  }
  .activeBtn{
    padding: 0.25vw;
    margin: 0.25vw;
  }
}